body {
	font-family: system-ui, monospace;
	background-image: url("Imagens/background.png");
	color: white;
	background-color: black;
	text-align: justify;
	justify-content: center;
	margin: 2%;
}

h1, h2, h4, h5, h6 {
	text-align: center;
	text-decoration: underline;
}

a {
	color: white;
	text-decoration: none;
}
.menu a:hover {
	color: yellow;
	text-decoration: underline;
}

h1 {
	font-size: 50px;
	background-color: rgb(30, 0, 87);
	padding: 2%;
	border-radius: 50px;
	box-shadow: inset 0px 0px 20px 3px white;
}
h2 {
	font-size: 35px;
}
.corpo h3 {
	text-align: left;
	text-decoration: underline;
	font-size: 25px;
	margin-top: 4%;
	margin-bottom: 1%;
}

.corpo .agilidade {
	margin-top: 1%;
}

.menu {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 109, 82, 0.95);
	border-radius: 50px;
	font-weight: bold;
	box-shadow: inset 0px 0px 20px 3px white;
	
}
.menu h3 {
	text-decoration: none;
}

.corpo {
	background-color: rgba(30, 0, 87, 0.9);
	margin: 1%;
	padding: 3%;
	padding-top: 2%;
	border-radius: 50px;
	box-shadow: inset 0px 0px 20px 3px white;
}
.computacao_nuvem table{
	margin: 2%;
}

.introducao {
	margin: 50px;
	margin-top: -40px;   
}
.botao_prox {
	text-align: right;
	text-decoration: none;
	font-size: 175%;
	background-color: rgba(30, 0, 87, 0.9);
	border-radius: 50px;
	box-shadow: inset 0px 0px 20px 3px white;
	color: white;
	width: max-content;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	font-weight: bolder;
	float: right;
	margin-right: 2%;
}

.botao_prox:hover {
	background-color: rgba(1, 118, 36, 0.9);
	box-shadow: inset 0px 0px 20px 3px rgb(255, 247, 0);
	box-shadow: 0px 0px 20px 3px rgb(255, 247, 0);
}

.botao_voltar {
	text-align: right;
	text-decoration: none;
	font-size: 175%;
	background-color: rgba(30, 0, 87, 0.9);
	border-radius: 50px;
	box-shadow: inset 0px 0px 20px 3px white;
	color: white;
	width: max-content;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	font-weight: bolder;
	float: left;
	margin-right: 2%;
}

.botao_voltar:hover {
	background-color: rgba(1, 118, 36, 0.9);
	box-shadow: inset 0px 0px 20px 3px rgb(255, 247, 0);
	box-shadow: 0px 0px 20px 3px rgb(255, 247, 0);
}

.etec_ti_verde {
	position: fixed;
	background-color: rgb(213, 213, 213);
	margin: -1.9%;
	margin-top: -2.5%;
	margin-bottom: inherit;
	padding-top: 1%;
	padding-bottom: 0.5%;
	width: 100%;
	text-align: center;
	box-shadow: inset 0px -20px 20px -14px black;
}

.corpo p {
	font-size: 130%;
	text-align: justify;
	margin-bottom: 1%;
}

.corpo .center {
	font-size: 130%;
	text-align: center;
	margin-bottom: 1%;
}

table {
	text-align: center;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 1%;
}
.corpo input, .corpo textarea {
	margin-right: 2%;
	border-radius: 30px;
	padding: 0.5%;
}